<form action='form-registration/add' method='post' class='col-4'>

  <div class='mb-3'>
    <label for='fullname' class='form-label'>Full name</label>
    <input
      type='text'
      class='form-control'
      id='fullname'
      name='fullname'
      value='{{componentsData.valueFullName}}'
    />
  </div>

  <div class='mb-3'>
    <label class='form-label'>Select kurs</label>
    <select class='form-select' name='training'>
      {{{option componentsData.valueTraining componentsData.dataTraining}}}
    </select>
  </div>

  <div class='mb-3'>
    <label class='form-label'>Select place study</label>
    <select class='form-select' name='place'>
      {{{option componentsData.valuePlace componentsData.dataPlace}}}
    </select>
  </div>

  <div class='mb-3 row justify-content-between'>

    {{#if validationData.errors}}
      <button type='submit' class='col-6 btn btn-primary'>Registration</button>
      <a href='form-registration/cancel' class='col-4 btn btn-danger'>Cancel</a>
    {{else}}
      <button type='submit' class='col btn btn-primary'>Registration</button>
    {{/if}}
  </div>
</form>